* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    margin: 0;
}

header {
    padding-left: 10px;
    color:  black;
    background-color:aliceblue;
}

button:hover {
    box-shadow:inset 0px 0px 8px
    rgb(65, 4, 163), 0 0 1.5px
    rgba(65, 4, 163);
}

button {
    background-color:aquamarine;
    padding: 5px;
    margin-left: 5px;
    margin-top: 5px;
}